  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h6>Contact Me</h6>
          <p class="text-justify">Marius Sommerfeld <br>
            Vrijthof 26 <br>
            6211LE Maastricht <br>
            <a href="mailto:m.96.sommerfeld@gmail.com">m.96.sommerfeld@gmail.com</a>
          <br>+49 15786925882</p>
            
        </div>


        <div class="col-sm-12 col-md-4">
          <h6>Or Find me on</h6>
            <ul class="social-icons">
            <li><a class="linkedin" href="https://www.linkedin.com/in/marius-sommerfeld"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="github" href="https://www.github.com/Marius-So"><i class="fa fa-github"></i></a></li>  
            <li><a class="xing" href="https://www.xing.com/profile/Marius_Sommerfeld3/cv"><i class="fa fa-xing"></i></a></li>  
            <li><a class="spotify" href="https://open.spotify.com/user/xdhagp66cvjge5lc9zjnadttf"><i class="fa fa-spotify"></i></a></li>  
          </ul>
        </div>

        <div class="col-xs-6 col-md-4">
          <h6>Quick Navigate</h6>
          <ul class="footer-links">
            {% for item in site.data.navigation %}
            <li><a href="{{item.link}}" {% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by Marius Sommerfeld.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          
        </div>
      </div>
    </div>
</footer>
