.content{
    background-color: #fff9f0a1;
    
    min-height: 80vb;

}


.content .notfound{
    background-color: #fff9f0a1;
    z-index: 1;
    color: black;
    min-height: 80vb;
    margin-bottom: -5%;

}

.content .notfound div{
    margin-top: 0%;  
}


.content {
    background-image: none;

    width: 100%;
}

.notfound h1, h3{
    text-align: center;
    width: 80%;
    margin: 3% 10%;
}

.giphy-embed{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }



