.content{
    background-image: url("/assets/images/startup.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
  }

.about{
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: 0%;
    background: none;
    width: 100%;
    padding-bottom:100px;
}

.start_block{
    width:100%;
    margin: 0%;
    height: 600px;
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 249, 240, 0.631);
    font-size: 26px;
    
}

.content_block{
    width:80%;
    margin: 10%;
    height: 100%;
    background-color: rgba(255, 249, 240, 0.631);
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 0%;
    
}
.about h2{
    font-weight: 200;
    padding: 40px 40px;
    background: none;
    font-size: 1.5em;
    }
.about img{
        width: 60%;
        max-width: 400px;
        border-radius: 50%;
        }

.about p{
    background: none;
    padding: 40px 40px;
    font-weight: 200;
    text-align: justify;
    }

.about p a{
    color: inherit;
    font-weight: 1.5em;
}

.about .download_button{
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border-radius: 25px;
    font-size: 16px;
    margin: auto;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 40px;
}
.about .download_button a{
    color: antiquewhite;
    margin: 0%;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}
.about .download_button:hover{
    margin-top: 0px;
    margin-bottom: 42px;
    
}

@media (max-width: 850px) {
    .content_block{
        width:80%;
        margin-top: 15%;
        height: 100%;
        background-color: rgba(255, 249, 240, 0.631);

    }

@media (max-width: 599px){ 
        .content_block{
            margin: 0 0;
            width:100%;
            font-size: 1.3em;

        }
        .about h2{
            padding-bottom: 0;
            margin-top: 0px;
        }
        .hello{
            margin-top: 0px;
        }
    }
    
    @media (max-width: 450px){ 
        .content_block{
            margin: 0 0;
            width:100%;
            font-size: 1.1em;

        }
    }
}
