

.about{
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 100;
    z-index: 10;
    margin-top: 0%;
    background: none;
    width: 100%;
    padding-bottom:100px;
}

.content_block{
    width:80%;
    margin: 10%;
    height: 100%;
    background-color: rgba(255, 249, 240, 0.631);
}
.about h2{
    background: none;
    }
.about img{
        width: 30%;
        }

.about p{
    background: none;
    }

@media (max-width: 850px) {
    .content_block{
        width:80%;
        margin-top: 20%;
        height: 100%;
        background-color: rgba(255, 249, 240, 0.631);

    }
}