@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* START CSS VARIABLES */
:root {
    --body-background: #f7f8fc;
    --card-background: #add8e6;
    --card-background-hover: #71c2dd;
    --tag-background: #777777;
    --tag-text: #ffffff;
    --tag-design: #f06b3a;
    --tag-popular: #800080;
    --tag-webdev: #0000ff;
    --user-postdate: #4b4a4a;
}
/* END CSS VARIABLES */


/* START CSS RESET + COMMON STYLES */

/* END CSS RESET + COMMON STYLES */


/* START OUTER CONTAINER STYLES */
.outer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin: 0px;
    padding: 0%;
    width: 100%;
}
.card {
	justify-self: center;
    background-color: var(--card-background);
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 0.85;
    overflow: hidden;
    width: 18.75rem;
    transition: background-color 400ms ease-out, 
                opacity 400ms ease-out;
}
.card:hover, 
.card:active {
    background-color: var(--card-background-hover);
    opacity: 1;
}
.card-header img {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
    transition: opacity 400ms ease-out;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 15.625rem;
    padding: 1.25rem;
}
.card-body h4 {
    margin: 0.625rem 0;
}
.card-body p {
    font-size: 0.8125rem;
    margin: 0 0 2.5rem;
}
.tag {
    background: var(--tag-background);
    border-radius: 3.125rem;
    color: var(--tag-text);
    font-size: 0.75rem;
    margin: 0;
    padding: 0.125rem 0.625rem;
    text-transform: uppercase;
}
.tag-design {
    background-color: var(--tag-design);
}
.tag-popular {
    background-color: var(--tag-popular);
}
.tag-webdev {
    background-color: var(--tag-webdev);
}
.user {
    display: flex;
    margin-top: auto;
}
.user img {
    border-radius: 50%;
    margin-right: 0.625rem;
    height: 2.5rem;
    width: 2.5rem;
}
.user-info h5 {
    margin: 0;
}
.user-info small {
    color: var(--user-postdate);
}
/* END OUTER CONTAINER STYLES */


/* KEYFRAMES */
/* Fade In Webpage Keyframe */
@keyframes fadeInPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* MEDIA QUERIES */
@media(max-width: 940px) {
    .outer-container {
        grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		gap: 1.25rem;
    }  
}
@media(max-width: 500px) {
    .outer-container {
        grid-template-columns: 1fr;
    }  
}