<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="text/javascript" src="/assets/js/main.js"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation2.html %}
    <!-- <img src="/assets/images/startup.jpg" alt="laptop_with_notbook" class="backround">
 -->
    <div class="content">
    {{ content }}
    </div>

    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>