---
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>  
    <div class="post_navigation">
    {% include navigation.html %}
    </div>

  <div class="body">
      <div class="title", style= 'background-image: url("{{page.main_picture}}")'>
        <div>
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date_to_string }} // {{ page.author }}</p>
        </div>
      </div>
    
    <div class="article">
        {{ content }}
    </div>
  </div>
 
  
  {% include footer.html %}
  </body>
</html>